body {
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
}
.header {
    padding: 15px 0;
    background-color:lightskyblue;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
 img {
    border: solid 0px #42515f;
    height: 50px;
    width: 50px;
}
.book-text {
    font: normal normal bold 25px/25px Rubik;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0px;
    color: midnightblue;
}

* {box-sizing: border-box;}

.form-content {
    min-height: calc(100%-80px);
    display: flex;
    justify-content: center;
    align-items: cneter;
    border: 0px solid green;
}
.form{
    width: 65%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}
.form-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color:rgb(46, 140, 228);
}
.head-text {
    font: normal normal bold 25px/25px Rubik;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    text-align: center;
    padding-left: 30%;

}
.add-button{
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    border: none ;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
} 
.row-content{
    position: relative;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    align-items: center;
    border: 0px solid green;
}
input{
   position: relative;
   width: 100%;
   height: 100%;
   padding: 12px;
   border:none;
   border: 1px solid rgb(46, 140, 228);;
   border-radius: 4px;
   font-family: 'Rubik', sans-serif;
}

label {
   position: absolute;
   color: darkblue;
   top: 50%;
   left: 60px;
   transform: translateY(-1%);
   pointer-events: none;
   transition: all .8s ease;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus + label,
input:valid + label {
    top: 0;
    color:darkblue;
    background: white;
}

.input-text:not([value=""]){
    border-width: 1px;
}
.input-text{
    position: relative;
    border: 1px solid rgb(46, 140, 228);;
    border-radius: 4px;
    width: 100%;
    height: 80%;
    padding: 12px;
}
.form-label-text{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-5%);
    pointer-events: none;
    transition: all .8s ease;
}
.input-text:focus + .form-label-text,
.input-text:valid + .form-label-text{
    top: 0;
    color:darkblue;
    background: white;
}
select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-grow: 1;
    padding: 12px;
    border: 1px solid rgb(46, 140, 228);;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 17px Rubik;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0px;
    color: darkblue;
    background-color: transparent;
}